*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Century Gothic";
}

header	{
	width: 100%;
	background: silver;
	margin-bottom: 20px;
}

a	{
	text-decoration: none;
}

ul	{
	list-style: none;
}

img	{
	max-width: 100%; /*-- Tamaño de las imagenes --*/
}

/*-------------------------------*/

.title {
	width: 100%;
	background: #3FAF59;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1	{
	color: #fff;
	font-size: 44px;
	font-weight: 50;
	text-align: center;
}

.wrapper	{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.logo-container	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon	{
	display: none;
	position: right;

}

.navegation	{
	width: 100%;
	background: #1C1C1C;
	display: flex;
	justify-content: center;
}

.navegation ul{
	list-style: none;
}

.menu	{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	background: gray;
	height: 90px;
}

.menu li {
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}

.menu .first-item	{
	border-left: 1px solid #363636;	
}

.menu li a {
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.menu .imagen {
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;

}


.menu li a .text-item	{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

.menu li a .down-item {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #1C1C1C;

	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

.menu li:hover .down-item, .menu li:hover .text-item	{
	top: 100%;
	height: 115%;
}

.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}

.fondo {
  background-image: url(paisaje.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.menu > ul {
	position: relative;
	display: inline-block;
}

.menu > ul  > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu ul a:hover{
	color: #CE7D35;
	transition: all .3s;
}

@media only screen and (max-width: 950px) {
	header .logo,
	header nav {
		width: 100%;
		text-align: center;
		line-height: 100px;
	}

	.menu-icon	{
		display: block;
		cursor: pointer;
	}
}

